/* ----------navigation bar---------- */
.logo{
		float: left;
    margin-right: 30px;
    position: relative;
}

.navs-logo{
	height: 4vmin;
	width: 4vmin;
	display: block;
	margin: auto;
	background-color: #6a95a6;
	padding: 10px;
	float: left;
}

div.logo h3{
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2.7vmin;
  color: white;
  float: left;
  padding: 5px;
  margin: 0px;
  position: relative;
  top: 5px;
}

.navbar-second{
	margin: auto;
}

div.navbar-second ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
	overflow-x: scroll;
}

div.navbar-second li {
  float: left;
	border-right: 2px solid #6a95a6;
	background-color: #F2C641;
	text-align: center;
  margin-bottom: 20px;
}

div.navbar-second li a {
  display: block;
  text-align: center;
	padding: 0.75em 1em;
}

div.navbar-second li:hover {
  background-color: #ffe081;
}

a.link{
	color: #405F73;
	font-size: 2.5vmin;
	font-family: sans-serif;
	text-decoration: none;
}

/*--------general all pages stuff--------*/
body{
	width: 100%;
	background-color: #6a95a6;
	margin: auto;
}

h1{
  clear: both;
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  margin: 0px;
  text-align: center;
  font-size: 6vmin;
}

p{
  text-align: center;
  font-size: 2.25vmin;
  font-family: Garamond, "Baskerville Old Face", serif;
}

/*--------content rectangle--------*/
.content-rectangle{
  clear: both;
  background-color: #C9E7F2;
  padding: 20px;
  margin: 20px auto;
  max-width: 1000px;
}

.content-rectangle-holder{
  margin: 0 20px;
}

/*--------footer stuff--------*/
h4{
	font-family: arial;
	color: #405F73;
	font-size: 2.25vmin;
	font-weight: 400;
  margin: 0px;
}

.follow{
	margin: 0px;
	float: left;
}

.socials{
	float: left;
	position: relative;
	top: 50%;
	transform: translate(0%, -50%);
	padding: 10px;
}

.social-logos{
	max-height: 2em;
	max-width: 2em;
	padding: 0px 5px 0px 5px;
	float: left;
	font-size: 2.25vmin;
}

footer{
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	bottom: 0px;
}

.footer{
	background-color: #F28444;
	margin: auto;
	left: 50%;
	height: 80px;
	max-width: 600px;
}

/*--------specific page stuff--------*/
.poster{
	max-width: 100%;
	margin: auto;
}
