body{
	width: 100%;
	background-color: white;
	margin: auto;
}

.navs-logo{
	height: 150px;
	width: 500px;
	display: block;
	margin: auto;
}
.navs-cover{
	width: 40%;
	height: 40%;
	margin: auto;
}

.navbar-first{
	margin: auto;
	padding-top: 30px;
	background-color: #366DA5;
	height: 40vh;
}

.navbar-second{
	background-color: #DAA520;
	margin: auto;
}

div.navbar-second ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
	background-color: #DAA520;
}

div.navbar-second li {
  float: left;
	border-right: 2px solid #366DA5;
	background-color: #DAA520;
	text-align: center;
}

div.navbar-second li a {
  display: block;
  text-align: center;
}

div.navbar-second li:hover {
  background-color: #EBCA77;
}

h1.nav-title{
	color: white;
	font-size: 40px;
	text-align: center;
}

a.link{
	color: navy;
	font-size: 27px;
	margin-right: 40px;
	padding-left: 3vw;
	font-family: sans-serif;
}
p{
	color: black;
	font-family: serif;
	padding: 20px;
}

h1{
	color: #DAA520;
	font-family: sans-serif;
}
